<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<h1 class="page-title">关于此站和我</h1>
				<article class="post">
					<div class="entry-content clearfix">
						<figure class="img-responsive-center">
							<img class="img-responsive" src="__PUBLIC__/Home/img/me.jpg" alt="Developer Image">
						</figure>
						<div>
							<main>{$about.about|htmlspecialchars_decode}</main>
						</div>
						<div class="height-40px"></div>
							<ul class="social">
								<li class="facebook" title="腾讯QQ" onclick="alert('腾讯QQ：2892832893')"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/icon/qq.svg" alt="腾讯QQ"></a></li>
								<li class="twitter" title="微信" onclick="alert('微信：tongzhimenhao')"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/icon/wechat.svg" alt="微信"></a></li>
								<li class="google-plus" title="新浪微博" onclick="alert('新浪微博：光脚不撒野')"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/icon/sina.svg" alt="新浪微博"></a></li>
								<li class="tumblr" title="GitHub"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/icon/github.svg" alt="GitHub"></a></li>
								<li class="tumblr" title="网易邮箱" onclick="alert('网易Email：szyphp@163.com')"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/icon/email.svg" width="30" height="30" alt="网易邮箱"></a></li>
							</ul>
					</div>
				</article>
			</main>
		</div>
	</div>
</div>