<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon icon-user"></i>
                <b>栏目管理</b>
            </li>
            <li >添加栏目</li>
        </ul>
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <form class="form-horizontal" role="form" method="post">
                    <!-- <input type="hidden" name="id" value="<?php echo $_SESSION['id'] ?>"> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">栏目名称：</label>

                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" name="name" placeholder='要添加的栏目（必填）' class="col-xs-10 col-sm-5" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="icon-ok bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>