{__NOLAYOUT__}
<!DOCTYPE html>
<html>
    <head>
        <title>503错误</title>
        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                background:#E3E3E3;

            }

            .container {
                text-align: center;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div><img src="__PUBLIC__/500.jpg" alt="网站已关闭..."></div>
            </div>
        </div>
    </body>
</html>
